@import './master.css';

nav.side-nav {
  width: 250px;
  height: calc(100vh - 50px);
  position: fixed;
  top: 50px;
  right: 0;
  flex-direction: column;
  padding: 1rem;
  overflow: scroll;
}

nav.side-nav h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

nav.side-nav h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

nav.side-nav select {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--background-alt);
  color: var(--text-primary);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

nav.side-nav select:hover {
  background-color: var(--background-alt);
}

nav.side-nav select:focus {
  background-color: var(--background-alt);
}

nav.side-nav select option {
  background-color: var(--background-alt);
  color: var(--text-primary);
}

nav.side-nav #restaurantList {
  width: 100%;
  border-collapse: collapse;
}

nav.side-nav #restaurantList .restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 0.5rem;
  border-bottom: 1px solid var(--background-alt);
  transition: 0.1s ease-in-out;
}

nav.side-nav #restaurantList .restaurant:last-child {
  border-bottom: none;
}

nav.side-nav #restaurantList .restaurant:hover {
  background-color: var(--background-alt);
}

nav.side-nav #restaurantList .restaurant .content {
  padding: 0.5rem 0;
}
